/* Wrapper: same position, padding, width as before - no layout shift */
.custom-select {
  position: relative;
  padding: 4px 0 0 0;
  width: 100%;
}

.custom-select select {
  width: 100%;
  min-height: 20px;
  padding: 2px 4px;
  box-sizing: border-box;
  background-color: #c0c0c0;
  border: 1px inset #c0c0c0;
  color: black;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
  min-width: 0;
}

.custom-select select:focus {
  outline: 1px dotted #000;
  outline-offset: -2px;
}

.custom-select select:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: #e0e0e0;
}
