.hourly-forecast {
  margin-top: 8px;
  width: 99.5%;
  max-height: 250px;
}






@media (min-width: 1200px) {
  .one-week-window {
    width: 100%;
    max-width: 100vw;
    margin: 0;
    max-height: 350px;
  }

  .one-week-forecast-list {
    max-height: 320px;
    width: 100%;
    padding-right: 10px;
    overflow-y: auto;
    overflow-x: hidden
  }
}


.one-week-window {
  width: 100%;
  max-width: 100vw;
  margin: 0;
  height: 100%
}





.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 8px;
  margin-bottom: 18px;
}

@media (max-width: 1200px) {
  .grid-container {
    width: 100%;
    grid-template-columns: 1fr;
    margin-bottom: 5%;
  }
}

@media (min-width: 1200px) {
  .main-app-div {
    display: flex;
    justify-content: center;
  }

  .banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .child-div {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    column-gap: 2%;
    flex-direction: column;

    .grandchild-div {
      display: flex;
      align-items: center;
      align-content: center;
      flex-direction: column;
      justify-content: center;
    }

    .short-description {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 23px;
      max-height: 100px;
      overflow-y: auto;
    }
  }
}

@media (max-width: 1200px) {
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .child-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    column-gap: 2%;
    flex-direction: column;

    .grandchild-div {
      display: flex;
      align-items: center;
      align-content: center;
      flex-direction: column;
      justify-content: center;
    }

    .short-description {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 23px;
      max-height: 100px;
      overflow-y: auto;
    }
  }
}